.console-root {
    .logo {
        height: 32px;
        margin: 16px;
        background: url("../../assets/images/logo.png") no-repeat center
            center/auto 100%;
    }
    .ant-layout-sider {
        background-color: #fff;
    }
    .site-layout {
        .trigger {
            padding-right: 26px;
            transition: color 0.3s;
            font-size: 18px;
            cursor: pointer;
            &:hover {
                color: #d0344e;
            }
        }
        .site-layout-header {
            display: flex;
            justify-content: space-between;
            padding: 0 26px;
            background: #fff;
        }
        .console-main {
            margin: 26px;
            min-height: calc(100vh - 64px - 26px - 26px);
            background-color: #f0f2f5;
            section {
                margin-top: 26px;
            }
        }
    }
}
